
.star-rating {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; 
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  font-size: 2rem;
  color: gray;
  cursor: pointer;
  margin-right: 5px;
}

.star-rating input[type="radio"]:checked ~ label {
  color: rgb(200, 141, 31);
} */


body {
  font-family: Arial, sans-serif;
  background-color: #bf7327;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

#reviews-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 20px;
}

#existing-reviews {
  margin-top: 40px;
}

#sorting-options {
  margin-bottom: 10px;
}

#review-list li {
  margin-bottom: 10px;
}


.star-rating input[type="radio"] {
  display: none;
}




#pagination {
  text-align: center;
  margin-top: 20px;
}

#pagination a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  margin-right: 5px;
}

#pagination a.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

#new-review {
  margin-top: 40px;
}

#new-review label {
  display: block;
  margin-top: 10px;
}

#review-text {
  width: 100%;
  resize: vertical;
}

#submit-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: #0056b3;
}




